<md-grid-list cols="3" rowHeight="3:1">
  <md-grid-tile *ngIf="btczar">
    <div class="value"><img src="assets/xbt.png" class="symbol" /> = R {{btczar.price}}</div>
    <div class="chart-container">
      <chart type="line" [data]="zarxbtGraph2" [options]="options"></chart>
    </div>
    <div class="chart-container">
      <chart type="line" [data]="zarxbtGraph" [options]="options"></chart>
    </div>
  </md-grid-tile>

  <md-grid-tile *ngIf="ethbtc">
    <div class="value"><img src="assets/eth.png" class="symbol" /> = R {{ethbtc.price * btczar.price}}</div>
    <div class="chart-container">
      <chart type="line" [data]="zarethGraph2" [options]="options"></chart>
    </div>
    <div class="chart-container">
      <chart type="line" [data]="zarethGraph" [options]="options"></chart>
    </div>
  </md-grid-tile>

</md-grid-list>
