.sidenav-content {
    display: flex;
    height: calc(100% - 80px);
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.sidenav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 200px;
}

.sidenav button {
    width: 100%;
    margin: 0 0 10px 0;
}

.sidenav button.active {
    background-color: #ff4081;
    color: white;
}

.sidenav button.bottom {
    margin-top: auto;
}

.sidenav .buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
}
