<md-sidenav-container>

  <md-sidenav #sidenav mode="side" class="sidenav">
    <div class="buttons">
      <button (click)="closeMenu(sidenav)" routerLinkActive="active" routerLink="accounts" md-button class="icon-button"><md-icon>dashboard</md-icon>Accounts</button>
      <button (click)="closeMenu(sidenav)" routerLinkActive="active" routerLink="rates" md-button class="icon-button"><md-icon>tv</md-icon>Rates</button>
    </div>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button> Tulip Fever!
    <span class="app-toolbar-filler"></span>
    <md-spinner *ngIf="loading" color="accent" class="app-spinner"></md-spinner>
    <!--Updated: {{lastUpdate}}-->

  </md-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>

<span class="app-action">
  <button (click)="refresh()" md-fab><md-icon>refresh circle</md-icon></button>
</span>
