Updated: {{lastUpdate}}

<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="start center">
  <md-card fxFlex *ngIf="summary">
    <md-card-title>
      <span class="source">Performance</span>
    </md-card-title>
    <md-card-content>Initial : R{{summary.investment}} less R{{summary.fees}} fees</md-card-content>
    <md-card-content>Profit/Loss : R{{summary.gainLoss}} ({{summary.gainLossPercent}}%)</md-card-content>
  </md-card>
  <md-card fxFlex *ngIf="balances">
    <md-card-title>
      <span class="source">Combined</span>
    </md-card-title>
    <md-card-content>
      <span class="value"><img src="assets/xbt.png" class="symbol"/></span>
      <span class="value"> {{summary.totalBTC}} = R {{summary.totalRand}}</span>
    </md-card-content>
  </md-card>


</div>
<hr/>

<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="start center">
  <md-card fxFlex *ngFor="let balance of balances">
    <md-card-title>
      <span class="source">{{balance.source}}</span>
    </md-card-title>
    <md-card-content>
      <div>
        <span class="value"><img src="assets/{{balance.baseCurrency}}.png" class="symbol"/></span>
        <span class="value"> {{balance.baseValue}} =  {{balance.currentValueRand | currency:'ZAR'}}</span>
      </div>
      <div>
        <span class="value"> Today: {{balance.changeTodayRand | currency:'ZAR'}}</span>
        <span class="value"> ({{balance.changeTodayPercent | percent}})</span>
      </div>
      <div>
        <span class="value"> Overall: {{balance.changeSinceStartRand | currency:'ZAR'}}</span>
        <span class="value"> ({{balance.changeSinceStartPercent | percent}})</span>
      </div>
    </md-card-content>
  </md-card>
</div>
