<div>
  Updated: {{lastUpdate}}
</div>
<div>
  <md-card fxFlex>
    <md-card-title>
      <span class="source">Portfolio</span>
    </md-card-title>
    <md-card-content>
      <md-table #table [dataSource]="dataSource">
        <ng-container cdkColumnDef="source">
          <md-header-cell *cdkHeaderCellDef>Source</md-header-cell>
          <md-cell *cdkCellDef="let row"> <a *ngIf="row.url" href="{{row.url}}" target="_blank">{{row.source}}</a> <span *ngIf="!row.url">{{row.source}}</span> </md-cell>
        </ng-container>
        <ng-container cdkColumnDef="base">
          <md-header-cell *cdkHeaderCellDef> Balance </md-header-cell>
          <md-cell *cdkCellDef="let row"><img src="assets/{{row.baseCurrency}}.png" class="symbol" /> {{row.baseValue | number:'1.2-10'}} </md-cell>
        </ng-container>
        <ng-container cdkColumnDef="rand">
          <md-header-cell *cdkHeaderCellDef> Rand </md-header-cell>
          <md-cell *cdkCellDef="let row">R {{row.currentValueRand | number:'1.2-2'}} </md-cell>
        </ng-container>
        <ng-container cdkColumnDef="today">
          <md-header-cell *cdkHeaderCellDef> Change Today </md-header-cell>
          <md-cell *cdkCellDef="let row">
            <md-icon style="color:green" *ngIf="row.changeTodayRand > 0">arrow_upward</md-icon>
            <md-icon style="color:red" *ngIf="row.changeTodayRand < 0">arrow_downward</md-icon>
            <span style="white-space: nowrap">R {{row.changeTodayRand | number:'1.2-2'}} ({{row.changeTodayPercent | percent}})</span>
          </md-cell>
        </ng-container>
        <ng-container cdkColumnDef="pl">
          <md-header-cell *cdkHeaderCellDef> Profit/Loss </md-header-cell>
          <md-cell *cdkCellDef="let row">
            <md-icon style="color:green" *ngIf="row.changeSinceStartRand > 0">arrow_upward</md-icon>
            <md-icon style="color:red"   *ngIf="row.changeSinceStartRand < 0">arrow_downward</md-icon>
            <span style="white-space: nowrap">R {{row.changeSinceStartRand | number:'1.2-2'}} ({{row.changeSinceStartPercent | percent}})</span>
           </md-cell>
        </ng-container>
        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>

    </md-card-content>
  </md-card>
</div>
<div>
  <md-card fxFlex>
    <md-card-title>
      <span class="source">Rates</span>
    </md-card-title>
    <md-card-content>
      <tulip-rates></tulip-rates>
    </md-card-content>
  </md-card>
</div>
