<div>
  Updated: {{lastUpdate}}
</div>
<div>
  <md-card fxFlex class="portfolio">
    <md-card-title>
      <span class="source">Portfolio</span>
    </md-card-title>
    <md-card-content>
      <md-table #table [dataSource]="dataSource">
        <ng-container cdkColumnDef="source">
          <md-header-cell *cdkHeaderCellDef>Source</md-header-cell>
          <md-cell *cdkCellDef="let row">
            <a *ngIf="row.url" href="{{row.url}}" target="_blank">{{row.source}}</a>
            <span *ngIf="!row.url">{{row.source}}</span>
          </md-cell>
        </ng-container>
        <ng-container cdkColumnDef="base">
          <md-header-cell *cdkHeaderCellDef> Balance </md-header-cell>
          <md-cell *cdkCellDef="let row">
            <img src="assets/{{row.baseCurrency}}.png" class="symbol" /> {{row.baseValue | number:'1.2-10'}} </md-cell>
        </ng-container>
        <ng-container cdkColumnDef="rand">
          <md-header-cell *cdkHeaderCellDef> Rand </md-header-cell>
          <md-cell *cdkCellDef="let row">R {{row.currentValueRand | number:'1.2-2'}} </md-cell>
        </ng-container>
        <ng-container cdkColumnDef="today">
          <md-header-cell *cdkHeaderCellDef> Change Today </md-header-cell>
          <md-cell *cdkCellDef="let row">
            <md-icon style="color:green" *ngIf="row.changeTodayRand > 0">arrow_upward</md-icon>
            <md-icon style="color:red" *ngIf="row.changeTodayRand < 0">arrow_downward</md-icon>
            <span style="white-space: nowrap">R {{row.changeTodayRand | number:'1.2-2'}} ({{row.changeTodayPercent | percent}})</span>
          </md-cell>
        </ng-container>
        <ng-container cdkColumnDef="pl">
          <md-header-cell *cdkHeaderCellDef> Profit/Loss </md-header-cell>
          <md-cell *cdkCellDef="let row">
            <md-icon style="color:green" *ngIf="row.changeSinceStartRand > 0">arrow_upward</md-icon>
            <md-icon style="color:red" *ngIf="row.changeSinceStartRand < 0">arrow_downward</md-icon>
            <span style="white-space: nowrap">R {{row.changeSinceStartRand | number:'1.2-2'}} ({{row.changeSinceStartPercent | percent}})</span>
          </md-cell>
        </ng-container>
        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>

    </md-card-content>
  </md-card>

  <md-card fxFlex class="portfolio-mobile">
    <md-card-title>
      <span class="source">Portfolio</span>
    </md-card-title>
    <md-card-content *ngIf="wallet">
      <div *ngFor="let wallet of wallets | async">
        <h2>{{wallet.source}}</h2>
        <h4>Value</h4>
        <div style="display:flex; flex-direction: row">
          <div>
            BTC {{wallet.baseValue | number:'1.2-10'}}</div>
          <div>&nbsp;=&nbsp;</div>
          <div>R {{wallet.currentValueRand | number:'1.2-2'}}</div>

        </div>

        <div>
          <h4>Today</h4>
          <md-icon style="color:green" *ngIf="wallet.changeTodayRand > 0">arrow_upward</md-icon>
          <md-icon style="color:red" *ngIf="wallet.changeTodayRand < 0">arrow_downward</md-icon>
          <span style="white-space: nowrap">R {{wallet.changeTodayRand | number:'1.2-2'}} ({{wallet.changeTodayPercent | percent}})</span>

        </div>
        <div>
          <h4>Profit/Loss</h4>
          <md-icon style="color:green" *ngIf="wallet.changeSinceStartRand > 0">arrow_upward</md-icon>
          <md-icon style="color:red" *ngIf="wallet.changeSinceStartRand < 0">arrow_downward</md-icon>
          <span style="white-space: nowrap">R {{wallet.changeSinceStartRand | number:'1.2-2'}} ({{wallet.changeSinceStartPercent | percent}})</span>

        </div>
      </div>
      <hr/>
      <div *ngIf="summary">
        <h2>Summary</h2>
        <h4>Value</h4>
        <div style="display:flex; flex-direction: row">
          <div>
            BTC {{summary.totalBTC | number:'1.2-10'}}</div>
          <div>&nbsp;=&nbsp;</div>
          <div>R {{summary.totalRand | number:'1.2-2'}}</div>

        </div>

        <div>
          <h4>Today</h4>
          <md-icon style="color:green" *ngIf="summary.todayChange > 0">arrow_upward</md-icon>
          <md-icon style="color:red" *ngIf="summary.todayChange < 0">arrow_downward</md-icon>
          <span style="white-space: nowrap">R {{summary.todayChange | number:'1.2-2'}}</span>

        </div>
        <div>
          <h4>Profit/Loss</h4>
          <md-icon style="color:green" *ngIf="summary.gainLoss > 0">arrow_upward</md-icon>
          <md-icon style="color:red" *ngIf="summary.gainLoss < 0">arrow_downward</md-icon>
          <span style="white-space: nowrap">R {{summary.gainLoss| number:'1.2-2'}} ({{summary.gainLossPercent | percent}})</span>

        </div>
      </div>

    </md-card-content>

  </md-card>
</div>
<div>
  <md-card fxFlex>
    <md-card-title>
      <span class="source">Rates</span>
    </md-card-title>
    <md-card-content>
      <tulip-rates></tulip-rates>
    </md-card-content>
  </md-card>
</div>
